ß* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    max-width: 100%;
}

:root {
    --black:#010101;
    --white: #fcfcfc;
    --dark_grey: #303023;
    --grey: #D3CECE;
    --turquoise: #256063;
    --light_green: #698D1C;
    --dark_green: #445916;
    --marron: #B47B26;
    --rojo: #E85333;
    --naranja: #FF8D00;
    --amarillo: #F9CA1E;
  }

.black{
    background-color: var(--black);
}

.white{
    background-color: var(--white);
}

.dark_grey{
    background-color: var(--dark_grey);
}

.grey{
    background-color: var(--grey);
}

.turquoise{
    background-color: var(--turquoise);
}

.light_green{
    background-color: var(--light_green);
}

.dark_green{
  background-color: var(--dark_green);
}

.brown{
    background-color: var(--marron);
}

.red{
    background-color: var(--rojo);
}

.orange{
    background-color: var(--naranja);
}

.yellow{
    background-color: var(--amarillo);
}

/* scroll indicator */
.progress-container {
    width: 100%;
    height: 6px;
    background: var(--dark_grey);
    position: fixed;
    top: 0;
    z-index: 9999;
}

.progress-bar {
    height: 6px;
    background: var(--grey);
    width: 0%;
}

/* menu */

#logo-menu img{
    width: 50px;
    height: 50px;
    animation: spin 10s linear infinite;
} 

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

#menu{
    transition-duration: 0.3s;
    background-color: var(--grey);
}

.center{
    display: flex;
    justify-content: center;
}
.navbar{
    width: 100%;
    z-index: 999;
}

.navbar-brand img{
    width: 100%;
    height: 10vh;
}

.courier-prime-regular {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
  }

a:visited,
a:link {
    font-family: "Courier Prime", monospace;
    text-decoration: none;
    color: var(--white);
}

#logo-menu, #logo-footer, #logo-menu-movil{
    font-family: "Poppins", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
}
#logo-menu:hover{
  text-decoration: underline;
  text-decoration-color: var(--white);
}

#logo-footer:hover{
  text-decoration: var(--black);
}

.nav-item{
    font-family: "Courier Prime", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

.navbar-toggler {
    outline: none; 
    border: none; 
}

  
.navbar-toggler:focus {
    box-shadow: none; 
    outline: none; 
}

.close-menu{
  display: none;
}

.scrolled{
    width: 80vw;
    border-radius: 90px;
    margin-top: 1rem;
}

/* Los mas Vendidos */

#losmasvendidos{
    background-color: var(--black);
    width: 100%;
}

.artistas-vin{
    height: 112vh;
}

.artistas-vin img{
    border-radius: 50%;
    position: relative;
}

.big_poppa{
    text-align: center;
    width: 100%;
    height: 0vh;
}

.big_poppa_img{
    height: 15vh;
    width: 15vh;
    right: 37rem;
    top: 4rem;
}

.leon_thomas{
    text-align: center;
    width: 100%;
    height: 0vh;
}

.leon_thomas_img{
    height: 26vh;
    width: 26vh;
    right: 44rem;
    top: 11rem;
}

.usher{
    text-align: center;
    width: 100%;
    height: 0vh;
}

.usher_img{
    height: 14vh;
    width: 14vh;
    right: 34rem;
    top: 22rem;
}

.sade{
    text-align: center;
    width: 100%;
    height: 0vh;
}

.sade_img{
    height: 30vh;
    width: 30vh;
    right: 42rem;
    top: 29rem;
}

.a_tribe_called_quest{
    text-align: center;
    width: 100%;
    height: 0vh;
}

.a_tribe_called_quest_img{
    height: 26vh;
    width: 26vh;
    right: 26.5rem;
    top: 9rem;
}

.justin_bieber{
    text-align: center;
    width: 100%;
    height: 0vh;
}

.justin_bieber_img{
    height: 14vh;
    width: 14vh;
    right: 17.5rem;
    top: 21rem;
}

.kendrick_lamar{
    text-align: center;
    width: 100%;
    height: 0vh;
}

.kendrick_lamar_img{
    height: 20vh;
    width: 20vh;
    right: 23.5rem;
    top: 27.5rem;
}

.cent{
    text-align: center;
    width: 100%;
    height: 0vh;
}

.cent_img{
    height: 18vh;
    width: 18vh;
    right: 14rem;
    top: 6.5rem;
}

.sza{
    text-align: center;
    width: 100%;
    height: 0vh;
}

.sza_img{
    height: 38vh;
    width: 38vh;
    right: 3rem;
    top: 13.5rem;
}

.frank_ocean{
    text-align: center;
    width: 100%;
    height: 0vh;
}

.frank_ocean_img{
    height: 22vh;
    width: 22vh;
    right: 12rem;
    top: 32rem;
}

.earth_wind_fire{
    text-align: center;
    width: 100%;
    height: 0vh;
}

.earth_wind_fire_img{
    height: 24vh;
    width: 24vh;
    right: -11rem;
    top: 6rem;
}

.bob_marley{
    text-align: center;
    width: 100%;
    height: 0vh;
}

.bob_marley_img{
    height: 36vh;
    width: 36vh;
    right: -17rem;
    top: 18.5rem;
}

.tyler_the_creator{
    text-align: center;
    width: 100%;
    height: 0vh;
}

.tyler_the_creator_img{
    height: 22vh;
    width: 22vh;
    right: -2.75rem;
    top: 34.25rem;
}

.eminem{
    text-align: center;
    width: 100%;
    height: 0vh;
}

.eminem_img{
    height: 18vh;
    width: 18vh;
    right: -24rem;
    top: 3rem;
}

.prince{
    text-align: center;
    width: 100%;
    height: 0vh;
}

.prince_img{
    height: 16vh;
    width: 16vh;
    right: -28rem;
    top: 12.5rem;
}

.stevie_wonder{
    text-align: center;
    width: 100%;
    height: 0vh;
}

.stevie_wonder_img{
    height: 20vh;
    width: 20vh;
    right: -33rem;
    top: 20.5rem;
}

.amy_winehouse{
    text-align: center;
    width: 100%;
    height: 0vh;
}

.amy_winehouse_img{
    height: 22vh;
    width: 22vh;
    right: -32rem;
    top: 32.5rem;
}

.lauren_hill{
    text-align: center;
    width: 100%;
    height: 0vh;
}

.lauren_hill_img{
    height: 38vh;
    width: 38vh;
    right: -43rem;
    top: 2.5rem;
}

.erykah_badu{
    text-align: center;
    width: 100%;
    height: 0vh;
}

.erykah_badu_img{
    height: 22vh;
    width: 22vh;
    right: -45rem;
    top: 23.5rem;
}

.mf_doom{
    text-align: center;
    width: 100%;
    height: 0vh;
}

.mf_doom_img{
    height: 16vh;
    width: 16vh;
    right: -43.5rem;
    top: 35.5rem;
}

.img-bl{
    transition: .2s; 
}

.img-bl-hover:hover{
    opacity: 50%;
}



#mainModal{
    z-index: 10;
  }
  
  .modal-backdrop {
    /* z-index: 11; */
    --bs-backdrop-zindex: 0;
    --bs-backdrop-bg: #000;
    --bs-backdrop-opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-backdrop-zindex);
    width: 100vw;
    height: 100vh;
    background-color: var(--bs-backdrop-bg);
  }
  
  .main-image {
    width: 15rem;
    height: auto;
    cursor: pointer;
  }
  
  .album-image {
    max-width: 15rem;
    border-radius: 50%;
  }
  
  .disc-image {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
  }
  
  .left-section {
    flex: 1;
  }
  
  .right-section {
    flex: 2;
  }
  
  .modal-content {
    border-radius: 0.5rem;
    z-index: 999;
  }
  
  .modal-dialog{
    position: relative;
    top: 15rem;
  }
  
  .modal-header {
    background-color: var(--dark_grey);
    color: var(--white);
  }


.losmasvendidos_titulo h2{
    color: var(--grey);
    font-family: 'Climate Crisis', cursive;
    display: flex;
    justify-content: flex-end;
    font-size: 3rem;
    position: relative;
    bottom: 9rem;
    right: 1rem;

}

/* Index */

.index_titulo h2{
    color: var(--black);
    font-family: 'Climate Crisis', cursive;
    display: flex;
    justify-content: flex-start;
    font-size: 3rem;
    position: relative;
    left: 2rem;
    top: 2rem;
}
  
[data-scroll-container] {
    overflow: hidden;
  }

  .index-section {
    padding: 2rem 1rem 0rem 0rem;
    font-family: 'Climate Crisis';
  }

  .genre {
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
    padding: 0.5rem;
    width: 65rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Records Section */
  .records-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  
  .record {
    position: relative;
    left: 3rem;
    width: 7rem;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .record:hover {
    transform: scale(1.05);
  }
  
  .record img {
    width: 67%;
    height: 66%;
    object-fit: cover;
  }


/* Catalog */

.catalog_titulo h2{
    color: var(--black);
    font-family: 'Climate Crisis', cursive;
    display: flex;
    justify-content: flex-end;
    font-size: 3rem;
    position: relative;
    top: 4rem;
    right: 1rem;
}


/* Hip Hop */
#catalog #hiphop{
    position: relative;
    top: 4rem;
    left: 0rem;
    height: 46rem;
    margin-right: 0rem;
    max-width: 1654px;
}

#catalog #hiphop .row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

#catalog #hiphop img {
    margin-top: 1rem;
}

.hiphoprow1{
    position: relative;
    left: 26rem;
    top: 2rem;
    width: 57rem;
}

.hiphoprow2{
    position: relative;
    left: 45rem;
    bottom: 38.5rem;
    width: 36rem;
}

.hiphoprow3{
    position: relative;
    left: 64rem;
    bottom: 79.2rem;
    width: 18rem;
}

#catalog #hiphop .hiphoprow1 img {
    width: 22%;
}

#catalog #hiphop .hiphoprow2 img {
    width: 35%;
}

#catalog #hiphop .hiphoprow3 img {
    width: 70%;
}

/* Reggae */
#catalog #reggae{
    position: relative;
    top: 4rem;
    left: 0rem;
    height: 46rem;
    margin-right: 0rem;
    max-width: 1654px;
}

#catalog #reggae .row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

#catalog #reggae img {
    margin-top: 1rem;
}

.reggaerow1{
    position: relative;
    left: 26rem;
    top: 2rem;
    width: 57rem;
}

.reggaerow2{
    position: relative;
    left: 45rem;
    bottom: 38.5rem;
    width: 36rem;
}

.reggaerow3{
    position: relative;
    left: 64rem;
    bottom: 79.2rem;
    width: 18rem;
}

#catalog #reggae .reggaerow1 img {
    width: 22%;
}

#catalog #reggae .reggaerow2 img {
    width: 35%;
}

#catalog #reggae .reggaerow3 img {
    width: 70%;
}

/* Rap */
#catalog #rap{
    position: relative;
    top: 4rem;
    left: 0rem;
    height: 46rem;
    margin-right: 0rem;
    max-width: 1654px;
}

#catalog #rap .row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

#catalog #rap img {
    margin-top: 1rem;
}

.raprow1{
    position: relative;
    left: 26rem;
    top: 2rem;
    width: 57rem;
}

.raprow2{
    position: relative;
    left: 45rem;
    bottom: 38.5rem;
    width: 36rem;
}

.raprow3{
    position: relative;
    left: 64rem;
    bottom: 79.2rem;
    width: 18rem;
}

#catalog #rap .raprow1 img {
    width: 22%;
}

#catalog #rap .raprow2 img {
    width: 35%;
}

#catalog #rap .raprow3 img {
    width: 70%;
}

/* Neo Soul */
#catalog #neosoul{
    position: relative;
    top: 4rem;
    left: 0rem;
    height: 46rem;
    margin-right: 0rem;
    max-width: 1654px;
}

#catalog #neosoul .row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

#catalog #neosoul img {
    margin-top: 1rem;
}

.neosoulrow1{
    position: relative;
    left: 26rem;
    top: 2rem;
    width: 57rem;
}

.neosoulrow2{
    position: relative;
    left: 45rem;
    bottom: 38.5rem;
    width: 36rem;
}

.neosoulrow3{
    position: relative;
    left: 64rem;
    bottom: 79.2rem;
    width: 18rem;
}

#catalog #neosoul .neosoulrow1 img {
    width: 22%;
}

#catalog #neosoul .neosoulrow2 img {
    width: 35%;
}

#catalog #neosoul .neosoulrow3 img {
    width: 70%;
}

/* Funk */
#catalog #funk{
    position: relative;
    top: 4rem;
    left: 0rem;
    height: 46rem;
    margin-right: 0rem;
    max-width: 1654px;
}

#catalog #funk .row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

#catalog #funk img {
    margin-top: 1rem;
}

.funkrow1{
    position: relative;
    left: 26rem;
    top: 2rem;
    width: 57rem;
}

.funkrow2{
    position: relative;
    left: 45rem;
    bottom: 38.5rem;
    width: 36rem;
}

.funkrow3{
    position: relative;
    left: 64rem;
    bottom: 79.2rem;
    width: 18rem;
}

#catalog #funk .funkrow1 img {
    width: 22%;
}

#catalog #funk .funkrow2 img {
    width: 35%;
}

#catalog #funk .funkrow3 img {
    width: 70%;
}

/* R&B */
#catalog #rnb{
    position: relative;
    top: 4rem;
    left: 0rem;
    height: 46rem;
    margin-right: 0rem;
    max-width: 1654px;
}

#catalog #rnb .row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

#catalog #rnb img {
    margin-top: 1rem;
}

.rnbrow1{
    position: relative;
    left: 26rem;
    top: 2rem;
    width: 57rem;
}

.rnbrow2{
    position: relative;
    left: 45rem;
    bottom: 38.5rem;
    width: 36rem;
}

.rnbrow3{
    position: relative;
    left: 64rem;
    bottom: 79.2rem;
    width: 18rem;
}

#catalog #rnb .rnbrow1 img {
    width: 22%;
}

#catalog #rnb .rnbrow2 img {
    width: 35%;
}

#catalog #rnb .rnbrow3 img {
    width: 70%;
}


/* flecha subir */
#flecha{
    width: 48px;
    border-radius: 900px;
    background-color: var(--turquoise);
    box-shadow: 0px 18px 38px -16px var(--black);
    position: fixed;
    bottom: 1em;
    right: 2em;
    z-index: 900;
    transition: 0.3s;
  }

  @media screen and (max-width: 992px){

    /* Index */
    .genre {
        width: 45rem;
    }

    /* Catalog */
    #catalog #hiphop {
        position: relative;
        top: 4rem;
        left: 8rem;
        height: 46rem;
    }

    #catalog #hiphop {
        height: 38rem;
        left: 0rem;
    }

    .hiphoprow1 {
        left: 10rem;
        width: 48rem;
    }

    .hiphoprow2 {
        left: 26rem;
        bottom: 32.5rem;
        width: 30rem;
    }

    .hiphoprow3 {
        left: 41rem;
        bottom: 66.9rem;
        width: 15rem;
    }

    #catalog #reggae {
        position: relative;
        top: 4rem;
        left: 8rem;
        height: 46rem;
    }

    #catalog #reggae {
        height: 38rem;
        left: 0rem;
    }

    .reggaerow1 {
        left: 10rem;
        width: 48rem;
    }

    .reggaerow2 {
        left: 26rem;
        bottom: 32.5rem;
        width: 30rem;
    }

    .reggaerow3 {
        left: 41rem;
        bottom: 66.9rem;
        width: 15rem;
    }

    #catalog #rap {
        position: relative;
        top: 4rem;
        left: 8rem;
        height: 46rem;
    }

    #catalog #rap {
        height: 38rem;
        left: 0rem;
    }

    .raprow1 {
        left: 10rem;
        width: 48rem;
    }

    .raprow2 {
        left: 26rem;
        bottom: 32.5rem;
        width: 30rem;
    }

    .raprow3 {
        left: 41rem;
        bottom: 66.9rem;
        width: 15rem;
    }

    #catalog #neosoul {
        position: relative;
        top: 4rem;
        left: 8rem;
        height: 46rem;
    }

    #catalog #neosoul {
        height: 38rem;
        left: 0rem;
    }

    .neosoulrow1 {
        left: 10rem;
        width: 48rem;
    }

    .neosoulrow2 {
        left: 26rem;
        bottom: 32.5rem;
        width: 30rem;
    }

    .neosoulrow3 {
        left: 41rem;
        bottom: 66.9rem;
        width: 15rem;
    }

    #catalog #funk {
        position: relative;
        top: 4rem;
        left: 8rem;
        height: 46rem;
    }

    #catalog #funk {
        height: 38rem;
        left: 0rem;
    }

    .funkrow1 {
        left: 10rem;
        width: 48rem;
    }

    .funkrow2 {
        left: 26rem;
        bottom: 32.5rem;
        width: 30rem;
    }

    .funkrow3 {
        left: 41rem;
        bottom: 66.9rem;
        width: 15rem;
    }

    #catalog #rnb {
        position: relative;
        top: 4rem;
        left: 8rem;
        height: 46rem;
    }

    #catalog #rnb {
        height: 38rem;
        left: 0rem;
    }

    .rnbrow1 {
        left: 10rem;
        width: 48rem;
    }

    .rnbrow2 {
        left: 26rem;
        bottom: 32.5rem;
        width: 30rem;
    }

    .rnbrow3 {
        left: 41rem;
        bottom: 66.9rem;
        width: 15rem;
    }
  }

  @media screen and (max-width: 768px){

    .losmasvendidos_titulo h2 {
        font-size: 2.6rem;
        bottom: 10rem;
    }

    .index_titulo h2 {
        font-size: 2.6rem;
        left: 2rem;
        top: 2rem;
    }

    .genre {
        width: 36rem;
    }

    #catalog #hiphop {
        height: 35rem;
        left: 0rem;
    }

    .hiphoprow1 {
        left: 7rem;
        width: 40rem;
    }

    .hiphoprow2 {
        left: 18.5rem;
        bottom: 27.5rem;
        width: 26rem;
    }

    #catalog #hiphop .hiphoprow2 img {
        width: 33.9%;
    }

    .hiphoprow3 {
        left: 30rem;
        bottom: 56.9rem;
        width: 13rem;
    }

    #catalog #hiphop .hiphoprow3 img {
        width: 68%;
    }

    #catalog #reggae {
        height: 35rem;
        left: 0rem;
    }

    .reggaerow1 {
        left: 7rem;
        width: 40rem;
    }

    .reggaerow2 {
        left: 18.5rem;
        bottom: 27.5rem;
        width: 26rem;
    }

    #catalog #reggae .reggaerow2 img {
        width: 33.9%;
    }

    .reggaerow3 {
        left: 30rem;
        bottom: 56.9rem;
        width: 13rem;
    }

    #catalog #reggae .reggaerow3 img {
        width: 68%;
    }

    #catalog #rap {
        height: 35rem;
        left: 0rem;
    }

    .raprow1 {
        left: 7rem;
        width: 40rem;
    }

    .raprow2 {
        left: 18.5rem;
        bottom: 27.5rem;
        width: 26rem;
    }

    #catalog #rap .raprow2 img {
        width: 33.9%;
    }

    .raprow3 {
        left: 30rem;
        bottom: 56.9rem;
        width: 13rem;
    }

    #catalog #rap .raprow3 img {
        width: 68%;
    }

    #catalog #neosoul {
        height: 35rem;
        left: 0rem;
    }

    .neosoulrow1 {
        left: 7rem;
        width: 40rem;
    }

    .neosoulrow2 {
        left: 18.5rem;
        bottom: 27.5rem;
        width: 26rem;
    }

    #catalog #neosoul .neosoulrow2 img {
        width: 33.9%;
    }

    .neosoulrow3 {
        left: 30rem;
        bottom: 56.9rem;
        width: 13rem;
    }

    #catalog #neosoul .neosoulrow3 img {
        width: 68%;
    }

    #catalog #funk {
        height: 35rem;
        left: 0rem;
    }

    .funkrow1 {
        left: 7rem;
        width: 40rem;
    }

    .funkrow2 {
        left: 18.5rem;
        bottom: 27.5rem;
        width: 26rem;
    }

    #catalog #funk .funkrow2 img {
        width: 33.9%;
    }

    .funkrow3 {
        left: 30rem;
        bottom: 56.9rem;
        width: 13rem;
    }

    #catalog #funk .funkrow3 img {
        width: 68%;
    }

    #catalog #rnb {
        height: 35rem;
        left: 0rem;
    }

    .rnbrow1 {
        left: 7rem;
        width: 40rem;
    }

    .rnbrow2 {
        left: 18.5rem;
        bottom: 27.5rem;
        width: 26rem;
    }

    #catalog #rnb .rnbrow2 img {
        width: 33.9%;
    }

    .rnbrow3 {
        left: 30rem;
        bottom: 56.9rem;
        width: 13rem;
    }

    #catalog #rnb .rnbrow3 img {
        width: 68%;
    }

  }

  @media screen and (max-width: 414px){
    .losmasvendidos_titulo h2 {
        bottom: 13rem;
        left: 1rem;
        right: 0rem;
    }

    .genre {
        width: 17rem;
        font-size: 1.15rem;
    }

    .record img {
        width: 43%;
    }

    .catalog_titulo h2 {
        font-size: 2.6rem;
    }

    #catalog #hiphop {
        height: 28rem;
        left: 0rem;
    }

    .hiphoprow1 {
        left: 2rem;
        width: 34rem;
    }

    #catalog #hiphop .hiphoprow1 img {
        width: 18%;
    }

    .hiphoprow2 {
        left: 9rem;
        bottom: 19.32rem;
        width: 22rem;
    }

    #catalog #hiphop .hiphoprow2 img {
        width: 27.7%;
    }

    .hiphoprow3 {
        left: 16rem;
        bottom: 40.55rem;
        width: 9rem;
    }

    #catalog #reggae {
        height: 28rem;
        left: 0rem;
    }

    .reggaerow1 {
        left: 2rem;
        width: 34rem;
    }

    #catalog #reggae .reggaerow1 img {
        width: 18%;
    }

    .reggaerow2 {
        left: 9rem;
        bottom: 19.32rem;
        width: 22rem;
    }

    #catalog #reggae .reggaerow2 img {
        width: 27.7%;
    }

    .reggaerow3 {
        left: 16rem;
        bottom: 40.55rem;
        width: 9rem;
    }

    #catalog #rap {
        height: 28rem;
        left: 0rem;
    }

    .raprow1 {
        left: 2rem;
        width: 34rem;
    }

    #catalog #rap .raprow1 img {
        width: 18%;
    }

    .raprow2 {
        left: 9rem;
        bottom: 19.32rem;
        width: 22rem;
    }

    #catalog #rap .raprow2 img {
        width: 27.7%;
    }

    .raprow3 {
        left: 16rem;
        bottom: 40.55rem;
        width: 9rem;
    }

    #catalog #neosoul {
        height: 28rem;
        left: 0rem;
    }

    .neosoulrow1 {
        left: 2rem;
        width: 34rem;
    }

    #catalog #neosoul .neosoulrow1 img {
        width: 18%;
    }

    .neosoulrow2 {
        left: 9rem;
        bottom: 19.32rem;
        width: 22rem;
    }

    #catalog #neosoul .neosoulrow2 img {
        width: 27.7%;
    }

    .neosoulrow3 {
        left: 16rem;
        bottom: 40.55rem;
        width: 9rem;
    }

    #catalog #funk {
        height: 28rem;
        left: 0rem;
    }

    .funkrow1 {
        left: 2rem;
        width: 34rem;
    }

    #catalog #funk .funkrow1 img {
        width: 18%;
    }

    .funkrow2 {
        left: 9rem;
        bottom: 19.32rem;
        width: 22rem;
    }

    #catalog #funk .funkrow2 img {
        width: 27.7%;
    }

    .funkrow3 {
        left: 16rem;
        bottom: 40.55rem;
        width: 9rem;
    }

    #catalog #rnb {
        height: 28rem;
        left: 0rem;
    }

    .rnbrow1 {
        left: 2rem;
        width: 34rem;
    }

    #catalog #rnb .rnbrow1 img {
        width: 18%;
    }

    .rnbrow2 {
        left: 9rem;
        bottom: 19.32rem;
        width: 22rem;
    }

    #catalog #rnb .rnbrow2 img {
        width: 27.7%;
    }

    .rnbrow3 {
        left: 16rem;
        bottom: 40.55rem;
        width: 9rem;
    }
  }