@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {
    font-family: 'Poppins';
    margin: 0;
    line-height: 1.6;
    scroll-behavior: smooth;
    
  }
  
 #content-3D{
   
    overflow-x: hidden;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
 #content-3D > div > h1{
   color: #000;
   font-size: 1em;
   font-weight: bold;
  }

  .vinyl {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    background: linear-gradient(#ffffff94,   #cfbbb2); 
    overflow-x: hidden;
  }
  .vinyl-music {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    background: linear-gradient(#ffffff4f,  #ffffff94, #ffffff2c); 
    overflow-x: hidden;
  }

  .play{
    padding-top: 8em;
    z-index: 4;
    font-size: 4em;
  }
  .fa-play, .fa-pause{
   color:#ffffff;
   text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Ajusta los valores según tus necesidades */
}

.fa-play:hover{
  color: #000;
}




 
.circle[data-color] {
    background-color: var(--circle-color, #fff);
  }



 

  .marquee {
    position: absolute;
    font-size: 14em;
    font-weight: bold;
    color: #000;
    opacity: 0.1;
    text-transform: uppercase;
    white-space: nowrap;
    animation: scroll 17s linear infinite;
  }

  @keyframes scroll {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }
  .menu-item {
  position: absolute;
  font-size: 18px;
  background-color: transparent; /* Fondo transparente */
  color: black; /* Texto negro por defecto */
  padding: 10px 20px;
  border: 2px solid black; /* Borde negro */
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease; /* Transición suave */

  }
  .menu-item a {
    text-decoration: none; /* Sin subrayado */
    color: inherit; /* Usa el color del elemento padre */

  }
  
  .menu-item:hover {
    background-color: black; /* Fondo negro al hacer hover */
    color: white; /* Texto blanco al hacer hover */
  }
  #blog{ top: 20%; left: 5%; }
  #sobre-nosotros { top: 20%; right: 5%; }
  #vinilos { bottom: 20%; left: 5%; }
  #cafeteria { bottom: 20%; right: 5%; }

  
  .equalizer {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .equalizer_bar {
    width: 20px;
    height: 60px;
    background-color: #ffffff;
    animation: bounce 0.5s infinite ease-in-out;
  }
  
  .equalizer_bar:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  .equalizer_bar:nth-child(3) {
    animation-delay: 0.2s;
  }
  
  .equalizer_bar:nth-child(4) {
    animation-delay: 0.3s;
  }
  
  .equalizer_bar:nth-child(5) {
    animation-delay: 0.4s;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(2);
    }
  }

  
 


  #music-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 100vh;
    color: white;
    transition: background-color 0.5s ease;
}
  
  
  

.vinyl-player {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
  
  #vinyl {
    width: 50px;
    height: 50px;
    animation: spin 10s linear infinite;
  }
  
  #genre-text {
    font-size: 10em;
    font-weight: bold;
    padding-top: 1em;
    color: #ffffff;
  }
  #music-section > div:first-child{
    z-index: 3;
  }
  
  #equalizer {
    display: flex;
    justify-content: center;
    gap: 5px;
   padding: 2em;

  }
  
  #equalizer span {
    width: 5px;
    height: 15px;
    background: rgb(0, 0, 0);
    animation: bounce 1s infinite ease-in-out;
  }
  
  #equalizer span:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  #equalizer span:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  .controls {
   
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .arrow-btn {
    font-size: 1.5em;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .color-circles {
    display: flex;
    gap: 10px;
  }
  
  .circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra negra */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para el tamaño y la sombra */
  
  
  }

.circle:hover {
  transform: scale(1.2); /* Crece un 20% al hacer hover */
  box-shadow: 0px 8px 16pxrgba(0, 0, 0, 0.2); /* Sombra más grande al hacer hover */
}
  
  .circle[data-color] {
    background-color: var(--circle-color, #fff);
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(2);
    }
  }
  
  main div model-viewer {
    width: 100%;
    height: 100%;
}
 

.scroll-arrow {
    margin-top: 2em; /* Espaciado */
    color: #000; /* Color inicial */
    font-size: 2em; /* Tamaño de la flecha */
    animation: bounce-arrow 2s infinite; /* Animación de rebote */
    text-decoration: none; /* Quita el subrayado */
}

@keyframes bounce-arrow {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.scroll-arrow:hover {
    color: #ffffff; /* Cambia el color al pasar el ratón */
}
  




@media only screen and (max-width: 600px) {
#genre-text {
    font-size: 4em;
    font-weight: bold;
    color: #ffffff;
    padding-top: 1em;
}


}